<div class="row h-100" style="align-content: center;">
    <div class="col-sm-2">
        <div class="card shadow" style="height: 8rem;">
            <div class="card-header bg-warning text-white text-center">
                <h6>Sub Total</h6>
            </div>
            <div class="card-body text-center">
                <h2>999.00</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card shadow" style="height: 8rem;">
            <div class="card-header  bg-danger text-white text-center">
                <h6>Total</h6>
            </div>
            <div class="card-body text-center">
                <h2>999.00</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card shadow" style="height: 8rem;">
            <div class="card-header text-center">
                <h6>Cantidad</h6>
            </div>
            <div class="card-body text-center">
                <h2>999.00</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card shadow" style="height: 8rem;">
            <div class="card-header text-center">
                <h6>Taxes</h6>
            </div>
            <div class="card-body text-center">
                <h2>999.00</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card shadow" style="height: 8rem;">
            <div class="card-header text-center">
                <h6>Food Stamps</h6>
            </div>
            <div class="card-body text-center">
                <h2>999.00</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card shadow" style="height: 8rem;">
            <div class="card-header text-center">
                <h6>Botellas</h6>
            </div>
            <div class="card-body text-center">
                <h2>999.00</h2>
            </div>
        </div>
    </div>

</div>
<!-- <div class="row h-50">

</div> -->