<div class="m-0 row">
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
    <div class="col-sm-2  p-1" >
        <app-funcion-btn></app-funcion-btn>
    </div>
</div>